
<h1>Inbox</h1>

<% if @messages.empty? %>

<h2>You have no new messages</h2>

<% end %>

<%= render @messages %>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />



