
<h1>Inbox</h1>


<div class = 'letter'>
	<h2>Subject: How's it goin'?</h2>
	<h2>From: Micheal</h2>
	<div>
		<hr />
		<p>
			I understand that it's been a long time, but I'm just writing this to let you 
			know that there are no hard feelings. Even though I took over Galicia, I'm 
			not trying to take Russia, so don't worry. 'Kay?
		</p>
	</div>
</div>
<div class = 'letter'>
	<h2>Subject: How's it goin'?</h2>
	<h2>From: Micheal</h2>
	<div>
		<hr />
		<p>
			I understand that it's been a long time, but I'm just writing this to let you 
			know that there are no hard feelings. Even though I took over Galicia, I'm 
			not trying to take Russia, so don't worry. 'Kay?
		</p>
	</div>
</div>
<div class = 'letter'>
	<h2>Subject: How's it goin'?</h2>
	<h2>From: Micheal</h2>
	<div>
		<hr />
		<p>
			I understand that it's been a long time, but I'm just writing this to let you 
			know that there are no hard feelings. Even though I took over Galicia, I'm 
			not trying to take Russia, so don't worry. 'Kay?
		</p>
	</div>
</div>
<div class = 'letter'>
	<h2>Subject: How's it goin'?</h2>
	<h2>From: Micheal</h2>
	<div>
		<hr />
		<p>
			I understand that it's been a long time, but I'm just writing this to let you 
			know that there are no hard feelings. Even though I took over Galicia, I'm 
			not trying to take Russia, so don't worry. 'Kay?
		</p>
	</div>
</div>
<div class = 'letter'>
	<h2>Subject: How's it goin'?</h2>
	<h2>From: Micheal</h2>
	<div>
		<hr />
		<p>
			I understand that it's been a long time, but I'm just writing this to let you 
			know that there are no hard feelings. Even though I took over Galicia, I'm 
			not trying to take Russia, so don't worry. 'Kay?
		</p>
	</div>
</div>
<div class = 'letter'>
	<h2>Subject: How's it goin'?</h2>
	<h2>From: Micheal</h2>
	<div>
		<hr />
		<p>
			I understand that it's been a long time, but I'm just writing this to let you 
			know that there are no hard feelings. Even though I took over Galicia, I'm 
			not trying to take Russia, so don't worry. 'Kay?
		</p>
	</div>
</div>


<div class = '' style = 'opacity:0'>
	<h2>Subject: How's it goin'?</h2>
	<h2>From: Micheal</h2>
	<p></p><p></p><p></p><br />
</div>