
<h1>Read</h1>

<% if @messages.empty? %>

<h2>You have no read messages</h2>

<% end %>

<%= render @messages %>

<div class = '' style = 'opacity:0'>
	<h2>Subject: How's it goin'?</h2>
	<h2>From: Micheal</h2>
	<p></p><p></p><p></p><br />
</div>



