
<h1>Sent</h1>

<% if @messages.empty? %>

<h2>You have not sent any messages</h2>

<% end %>

<%= render @messages %>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

