
.mainbody {
	color: #000;
	background: url(../images/grey.png);
	background-size: 100%, 100%;
	font-family: "Arial";
	font-size: 16px;
}

.map_body {
	color: #000;
	background: url(../images/grey.png);
	background-size: 100%, 100%;
	font-family: "Arial";
	font-size: 16px;
	width: ;
}

.maintitle span {
	position: relative;
	top: -75px;
}

.green_title span {
	position: relative;
	top: -75px;
}

.maintitle ul  {
	top: -44px;
	text-shadow: none;
}

.green_title ul {
	top: -44px;
	text-shadow: none;
}

.maintitle {
	font-family: "Times", "Times New Roman";
	display: block;
	margin: 0px 0px;
	height: 72px;
	padding-top: 28px;
	text-align: center;
	color: #DBDBDB;
	font-size: 38px;
	background-color: #45B8FF;
	text-shadow: 0px 1px 1px black;
}

.green_title {
	font-family: "Times", "Times New Roman";
	display: block;
	margin: 0px 0px;
	height: 72px;
	padding-top: 28px;
	text-align: center;
	color: #DBDBDB;
	font-size: 38px;
	background-color: #9B3232;
	text-shadow: 0px 1px 1px black;
}


.mainnav {
	list-style: none;
	text-align: center;
	font-family: Arial;
	border-top-style: ridge;
	border-top-color: #DBDBDB;
	top: -47px;
	padding-top: 7px;
	position: relative;
	font-size: 14px;
	left: 2px;
}

.mainnav li a {
	text-decoration: none;
	color: #000;
	margin: 0px 0px;
}

.mainnav li {
	display: inline;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
	margin: 0px 0px;
	left: -25px;
}

.primary p {
	position: relative;
	padding-left: 15%;
	padding-right: 15%;
	text-indent: 30px;
	line-height: 1.25;
}

.mainnav a:hover {
	color: #ff5100;
	text-decoration: none;
	text-shadow: 0px 0px 3px #FFF;
}

.page {
	margin-left: 15%;
	margin-right: 15%;
	width: 70%;
	height: 90%;
	background-color: #E3E3E3;
	position: absolute;
	bottom: 9%;
	top: 1%;
	border-radius: 0px 0px 10px 10px;
	min-width: 500px;
}

body.map_body .page {
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
}


#footer {
	position: fixed;
	bottom: 10px;
	right: 6%;
}


a {
	text-decoration: none;
	color: #9E1818;
}


a:hover {
	color: #be6608;
	text-shadow: #fbfc24 0 0 2px;
}

div.image_display img {
	width: 50%;
}

div.image_display {
	text-align: center;
}

div.main_form {
	
	margin-left: 5%;
	margin-top: 40px;
	
}

.form_naming {
	position: relative;
	left:5px;
}

#error_explanation {
	background-color: #FF8C8C;
	border: solid 2px #F00;
	margin-left: 100px;
	margin-right: 100px;
	padding: none;
	position: relative;
	right: 20px;
	top: -25px;
	
}

#error_explanation h2 {
	text-align: center;
	font-size: 17px;
	position: relative;

	right: -1px;
	margin-right: 10px;
	margin-left: 10px;
	border: dashed black 1px;
	margin-bottom: none;
}

#error_explanation p {
	font-size: 14px;
}

#error_explanation ul {
	font-size: 14px;
}

.all_users {
	position: relative;
	top: 20px;
	list-style: none;
}

.all_users li a {
	vertical-align: top;
	line-height: 40px;
}

.all_users span.bar {
	color: #000CAD;
	position: relative;
	bottom: 12px;
	left: 2px;
}

.all_users span.user_name {
	position:relative;
	top: 3px;
	left: 2px;
}

.home_h2 {
	position: relative;
	left: 120px;
	top: 40px;
}

.home_p {
	position: relative;
	top: 40px;
}

.email_field {
	position: relative;
	right: 22px;
}

.nation_selector {
	padding-top: 20px;
	padding-bottom: 20px;
}

.main_form span {
	padding-left: 20px;
}

.flash_ {
	text-align: center;
	background-color: #FFFD9E;
	border: solid 1px #FFC31F;
	margin-top: 20px;
	margin-left: 100px;
	margin-right: 100px;
	margin-bottom: 20px;
}

/* Settings for awesome button */



.join_button {
    
    -moz-box-shadow:inset 0px 0px 0px -2px #54a3f7;
    -webkit-box-shadow:inset 0px 0px 0px -2px #54a3f7;
    box-shadow:inset 0px 0px 0px -2px #54a3f7;
    
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #007dc1), color-stop(1, #33557a));
    background:-moz-linear-gradient(top, #007dc1 5%, #33557a 100%);
    background:-webkit-linear-gradient(top, #007dc1 5%, #33557a 100%);
    background:-o-linear-gradient(top, #007dc1 5%, #33557a 100%);
    background:-ms-linear-gradient(top, #007dc1 5%, #33557a 100%);
    background:linear-gradient(to bottom, #007dc1 5%, #33557a 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#007dc1', endColorstr='#33557a',GradientType=0);
    
    background-color:#007dc1;
    
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    
    border:1px solid #124d77;
    
    display:inline-block;
    color:#ffffff;
    font-family:arial;
    font-size:15px;
    font-weight:bold;
    padding:10px 34px;
    text-decoration:none;
	
	position: relative;
	top: 40px;
	left: 42%;
	text-shadow:0px 1px 0px #154682;
    
}
.join_button:hover {
	color:#ffffff;
	text-shadow:0px 1px 0px #154682;
    
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #33557a), color-stop(1, #007dc1));
    background:-moz-linear-gradient(top, #33557a 5%, #007dc1 100%);
    background:-webkit-linear-gradient(top, #33557a 5%, #007dc1 100%);
    background:-o-linear-gradient(top, #33557a 5%, #007dc1 100%);
    background:-ms-linear-gradient(top, #33557a 5%, #007dc1 100%);
    background:linear-gradient(to bottom, #33557a 5%, #007dc1 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#33557a', endColorstr='#007dc1',GradientType=0);
    
    background-color:#33557a;
}
.join_button:active {
    position:relative;
    top: 41px;
}

#map {
	width: 100%;
}



/* General Settings */
* {
	right: 2px;
}

div {
	padding: 0;
	margin: 0;
}



