body, div, h1 {
	padding:0;
	margin:0;
}

body {
	min-width: 825px;
}

#footer	{
	position:fixed;
	bottom:0px;
	background:black;
	color:#666;
	width:200%;
	text-align:center;
	z-index:10;
	right:-74%;
	height:50px;
	padding-top:70px;
}

.heading {
	height:120px;
	background:black;
	text-align:center;
}

.heading h1 {
	width:210px;
	font-size: 45px;
	margin:auto;
	position:relative;
	top: 17px;
	background:#bbb;
	padding: 15px 10px;
	border-radius: 15px;
	-webkit-border-radius: 15px;
	color:#444;
	box-shadow:0px 0px 100px 0px white;
}

nav {
	float:left;
	width: 30%;
	margin-top:40px;
}

nav li {
	display:block;
	list-style:none;
	background:#222;
	margin: 5px;
	height: 40px;
	padding-top:18px;
	position:relative;
	right:0px;
}

nav li:hover {
	box-shadow:0px 0px 13px 0px black;
	-webkit-box-shadow:0px 0px 13px 0px black;
	position:relative;
}

nav a {
	text-decoration: none;
	font-size: 30px;
	color:#5B00A6;
	padding-left:10%;
	text-shadow: 1px 1px 1px #666;
	position:relative;
	top:-7px;
}

#toplist {
	border-radius:10px 10px 0px 0px;
	border-bottom:darkorange 3px solid;
}

#bottomlist {
	display:block;
	border-top:darkorange 3px solid;
	border-radius:0px 0px 10px 10px;
}

.primary {
	margin: 20px 2.5% 20px 32%;
	width:65.5%;
}

.letter {
	background: white;
	padding: 10px 10px;
	margin: 10px 0px;
	box-shadow:0px 0px 3px black;
	cursor:pointer;
}

.letter h2 {
	margin: 0;
	padding: 0;
	font-size: 20px;
	padding-left: 20px;
	background: #ddd;
	display:inline;
	padding:0 10%;
}

.letter div {
	cursor:auto;
}

.letter h2 span {
	float:right;
	font-weight:normal;
}

div {
	padding:0;
	margin:0;
}

.form {
	position:fixed;
	top:20%;
	left:30%;
	width:450px;
	z-index:150;
	background:#bbb;
	border-radius:20px;
	padding:20px;
	box-shadow:0px 0px 20px black;
	z-index:20;
}

#fade {
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background:black;
	opacity:0.7;
	z-index:15;
}

#submit {
	position:absolute;
	top:20px;
	right:25px;
	background: white;
	border-radius:2px 15px 2px 2px;
	padding:8px;
	transition: box-shadow 0.5s;
	box-shadow: 0px 0px 2px 0px #444;
	cursor:pointer;
	background: rgb(255,255,255);

	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(241,241,241,1) 50%, rgba(225,225,225,1) 51%, rgba(246,246,246,1) 100%);

	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(50%,rgba(241,241,241,1)), color-stop(51%,rgba(225,225,225,1)), color-stop(100%,rgba(246,246,246,1)));

	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%);

	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%);

	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%);

	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%);

	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 );
}

#submit:hover {
	box-shadow: 0px 0px 5px 0px #444;
}

#submit:active {
	top: 23px;
}
