<% unless signed_in? %>
<a href="/join" class="join_button">Join!</a>
<% end %>

<% default_color %>

<h2 class = 'home_h2'>About the Game:</h2>
<p class = 'home_p'>Diplomacy is a devilishly fun (or so I'm assuming) world-conquest game in which players struggle over territory in 20th century Europe.</p>
