<% if signed_in? %>


	<% if current_user.units.any? %>
		<ul class = 'unit_list'>
			<%= render @units %>
		</ul>
		<% if winning?(current_user) %>
			<div id = 'dialog' title = 'You are winning!' >
				<p>You have the most units, and therefore you are <strong>winning</strong>!<p>
			</div>
		<% end %>
		
	<% else %>
		  <div id = 'dialog' title = 'You have lost!' >
		  	<p>You have no units, and therefore you have <strong>lost</strong>.<p>
		  </div>
	<% end %>
	
	
    <% if current_user.new_units_count > 0 %>
        <a href="/new_units">
            <div class = 'new_units'>
                <h1>U</h1>
                <h2><%= current_user.new_units_count %></h2>
                <div></div>
            </div>
        </a>
    <% end %>
	
	
<% else %>

	<a href="/join" class="join_button">Join!</a>

	<h2 id = 'zoomer' class = 'home_h2'>About the Game:</h2>
	<p class = 'home_p'>Diplomacy is a devilishly fun (or so I'm assuming) world-conquest game in which players 	struggle over territory in 20th century Europe.</p>


<% end %>