<div class = 'map_div'>
	
	<div class = "unit" style = "top: 200px; left: 100px;">
		<div class = 'unit-1' style = "background-color: orange;"></div>
		<div class = 'unit-2' style = "background-color: orange;"></div>
	</div>

<%= image_tag('/images/map.gif', :id => 'map') %>
</div>