<div class = 'map_div' >
	
	<!--	<div class = "unit" style = "left: 690px; top: 510px;">
			<div class = 'unit-1' style = "background-color: red;"></div>
			<div class = 'unit-2' style = "background-color: red;"></div>
		</div> -->
	
	<%= render @units %>
	
	<%= image_tag('/images/map.gif', :id => 'map') %>
	
</div>

<div id="map_note">
	<p>Nota Bene: Units are draggable only for planning purposes. To move a unit, see the home page.</p>
</div>