<li>
	<div class = 'image_div'>
	<%= image_tag("#{unit.kind}.png") %>
	</div>
	<div class = 'non_image_div'>
	<h1><%= unit.location.capitalize %></h1>
	<p>This unit is a(n) <%= unit.kind %>.<p>
	</div>
</li>